<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="name">DETAILS :</h1>
    <img src="{{data.image.url}}" alt="" id="img">
    <h3 class="details1">brand : {{data.brand}}</h3>
    <h3 class="details2">model : {{data.model}}</h3>
    <h3 class="details3">color : {{data.color}}</h3>
    <h3 class="details4">price : {{data.price}}</h3>
    <h3 class="details5">memory : {{data.memory}}</h3>
</body>
</html>