body{
    background-image: url('../img/gettyimages-172192760-2048x2048.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
}

h1{
    color: white;
}
form{
    color: white;
}